<h2 id='title'>Key Responder Demo</h2>
<div id="responder-info" style="float:left; width: 300px">
  {{key-responder-info}}
</div>

<div id="events" style="float:left; width: 300px; height: 300px; overflow-y: scroll">
  event stream ({{events.length}})
  <ul>
    {{#each events as |event|}}
      <li>{{event.viewName}} - {{event.eventName}}</li>
    {{/each}}
  </ul>
</div>

<div id="example" style="float:left; width: 500px">
  <label> Component C {{input type="checkbox" checked=c}}</label>
  <label> Component D {{input type="checkbox" checked=d}}</label>

  {{#component-example name="a" class="component component-a"}}
    {{#if c}}
      {{#component-example name="c" class="component component-c"}}
      {{/component-example}}
    {{/if}}

    {{#component-example name="b"  class="component component-b"}}
      {{#if d}}
        {{#component-example name="d" class="component component-d"}}
        {{/component-example}}
      {{/if}}
    {{/component-example}}
  {{/component-example}}
</div>

<div id="text-input">
  {{input placeholder="Text Input"}}
</div>
